body { 
	color: #f9f9f9;
	padding-top: 50px; 
	color: #f9f9f9;
	font-family: 'Montserrat', sans-serif;
}

p {
	font-size: 1em;
}

a {
	color: #f64c72;
}

ul {
	list-style: none;
	padding: 0;
}

.profile_pic {
	width:45%;
	max-width: 250px;
}

a:hover {
	color: #f64c72;
}

a:visited {
	color: #f64c72;
}

.container-fluid {
	width: 85%;
	max-width: 1080px;
}


/* styling for small screens */

@media screen and (max-width: 768px) {
	body { padding-top: 0px; }
}

@media (max-width: 768px) {
	.container-fluid {
		width: 90%;
		max-width: 90%;
	}
	
	.container {
		width: 100;
		max-width: 100%;
	}
}

.navbar-inverse {
	/* padding-right: 30px; */
	background-color: #2f2fa2!important;
	border-color: #2f2fa2!important;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #f9f9f9;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
	background-color: #f9f9f9;
	transition: 0.4s all linear;
}

.navbar-inverse .navbar-brand:hover {
	background-color: transparent;
	transition: 0.4s all linear;
	color: #f64c72;
	border-color: #f64c72;
}

.navbar-inverse .navbar-toggle {
	border-color: #f9f9f9;
}

.navbar-inverse .navbar-brand {
	color: #f9f9f9;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	font-size: 1.3em;
	font-weight: 300;
}

.nav li {
	display: inline;
	color: #f9f9f9;
}

.navbar-inverse .navbar-nav > li > a {
	color: #f9f9f9;
	font-family: 'Montserrat', sans-serif;
	/* font-family: 'Montserrat', sans-serif; */
	text-transform: lowercase;
	font-size: 1.3em;
	font-weight: 300;
	padding: 15px 20px 15px 20px;
}

.navbar-inverse .navbar-nav li a:hover {
	color: #fc4445;
	background-color: #2f2fa2;
	transition: 0.4s all linear;
}

.navbar-inverse .navbar-nav .active a {
	color: #f64c72!important;
	background-color: #2f2fa2!important;
	transition: 0.4s all linear;
}

div .landing {
	position: relative;
	min-height: 100vh;
}

div .section {
	padding-bottom: 5%;
}

.status_lookout {
	padding-top: 5px;
}

.lookout_msg {
	color: #f9f9f9;
}

.section_header {
	text-align: center;
	color: #f9f9f9;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	font-size: 1.5em;
	font-weight: 300;
}


.Blink {
	margin-bottom: 1px;
	font-size: 0.7em;
	padding-left: 0;
	color: #f64c72;
	animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

div .down-arrow {
	position: absolute;
	bottom: 5%;  /* position the bottom edge of the element at the middle of the parent */
	left: 50%; /* position the left edge of the element at the middle of the parent */
	transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
	font-size: 3em;
	
}

.down-arrow > a {
	color: #f9f9f97f;
}

.down-arrow > a:hover {
	color: #f64c72;
	transition: 0.4s all linear;
}

.Bounce {
	-moz-animation: bounce 2s 1;
	-webkit-animation: bounce 2s 1;
	animation: bounce 2s 1;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}


@keyframes blinker {  
	from { opacity: 1; }
	to { opacity: 0; }
}

#main {
	padding-top: 10%;
	text-align: left;
	font-weight: 400;
}

#even {
	background-color: #2f2fa2;
}

#odd {
	background-color: #242582;
}

span.about_header {
	color: #fe8019;
}
span.about_highlight {
	color: #fbf1c7;
	font-weight: bold;
}

span.highlight {
	font-weight: bold;
}

div .section_title {
	text-transform: uppercase;
	letter-spacing: 1.5px;
}


.skill_cat .skill_cat_bullet, .course_cat_bullet {
	margin-left: 0px;
	margin-bottom: 2px;
	font-size: 0.9em;
}


div .section_title > .background {
	color: #f64c90;
}

div .skill_cat {
	min-height: 150px;
}

div .skill_cat_label, div .project_title_label, div .course_cat_label {
	color: #FEC5DF;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-size: 1em;
	margin-bottom: 10px;
}

.course_id {
	display: inline-block;
    padding: 2px 2px;
    font-size: 0.8em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	color: #bdc6ff;
}

.in_progress {
	display: inline-block;
    font-size: 0.7em;
	color: #b1b6d5;
}

div .project-description {
	color: #FFF;
	opacity: .9;
}

div .project_misc {
	font-family: Inconsolata,monospace;
    font-size: .85em;
    display: inline-block;
    margin-top: 10px;
}

/* technology not real button */
.btn-static {
	margin-top: 5px;
	display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	border: 1px solid transparent;
    border-radius: 2px;
	color: #bdc6ff;
	background-color: transparent;
	border-color: #bdc6ff;
  }



.resume-link {
	font-size: 1.25em;
}

/* Scroll to top button styling */
.scrollTo-top {
	display: none;
	position: fixed;
	bottom: 25px;
	right: 20px;
	font-size: 2em;
	color: #f9f9f99b;
	border-radius: 0.3rem;
	z-index: 500;
}
.scrollTo-top :hover {
	color: #f64c72;
	transition: 0.4s all linear;
}

i {
	padding: 3px 10px;
}


/* Portfolio image styles */
.project-block {
	display: inline-block;
	padding: 2%;
}

.project-title {
	margin-top: 2%;
}

.contact-blurb {
	text-align: center;
}

.contact-wrapper {
	max-width: 500px;
}

/* form submission styling */
.form-control {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #f9f9f9;
	border-radius: 0px;
	color: #f9f9f9;
}

textarea[name=InputMessage] {
	resize: none;
}

.form-control:focus {
	border-color: transparent;
	border-bottom: 2px solid #f64c72;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-info {
	color: #f9f9f9;
	background-color: transparent;
	border-color: #f9f9f9;
}

.btn-info:hover {
	color: #f64c72;
	background-color: transparent;
	border-color: #f64c72;
	transition: 0.4s all linear;
}

/* footer */
#footer{
	background: #242582;
	min-height: 50px;
	text-align: left;
	color: #b1b1b1;
	padding-top: 20px;
	font-size: 0.8em;
	line-height: 20px;
}

.footer_links {
	float: right;
}
