@import 'jacket';

@include jacket(critical) {
  // MOBILE
  @media screen and (max-width: $navbar-breakpoint) {
    section.intro {
      // margin-top: 2em;
      // padding-bottom: 4em;
      min-height: calc(100vh - 109px);
      display: flex;
      align-items: center;
      // padding-top: 3em;
      margin-bottom: -1em;

      .intro-header {
        // margin-top: 3em;
        font-size: 2.5em;
      }

      .intro-tagline {
        font-size: 1.2em;
      }
  
      .current-status {
        font-size: 1.1em;
      }
  
      .contact-pages {
        margin: 1em 0 2em;
        font-size: 1.1em;
      }
    }
  }

  @media screen and (max-width: $navbar-breakpoint-xs) {
    section.intro {
      .intro-header {
        margin: 10px 0;

        .line-1 {
          .intro-name {
            display: block;
          }
        }
      }

      .intro-tagline {
        font-size: 1.1em;
        margin: 0;
      }
  
      .current-status {
        font-size: 1.1em;
        margin: 0;
      }
  
      .contact-pages {
        font-size: 1.1em;
        margin: 0;
      }
    }
  }

  // DESKTOP
  @media screen and (min-width: $navbar-breakpoint) {
    section.intro {
      // padding-top: 4em;
      // padding-bottom: 4em;
      min-height: calc(100vh - 160px);
      display: flex;
      align-items: center;

      .intro-header {
        // padding-top: 4em;
        font-size: 3.5em;
      }

      .intro-tagline {
        font-size: 26px;
      }
  
      .current-status {
        font-size: 22px;
      }
  
      .contact-pages {
        font-size: 1.2em;
      }
    }
  }

  section.intro {
    .intro-header {
      font-family: Inconsolata, monospace;
      font-weight: normal;
      // font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
      letter-spacing: -1px;
      // line-height: 1.5em;

      .intro-name {
        font-weight: bold;
      }
    }

    .intro-tagline {
      margin: 1em 0;
    }

    .current-status {
      margin: 1em 0;
    }

    .contact-pages {
      margin: 1em 0 2em;
      display: flex;
      justify-content: flex-end;
      // float: right;
      font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;

      a {
        margin-right: .5em;
      }
    }
  }
}