// MOBILE
@media screen and (max-width: $navbar-breakpoint) {
  .experience {
    .company-info {
      display: grid;
    }
  }
}

.experience {
  .section-content {
    .resume-section {
      margin-bottom: 3em;

      .resume-header {
        font-size: 24px;
        font-weight: bold;
      }
    }

    ul.company-list {
      list-style: none;
      padding: 0;
      margin-bottom: 1em;


      .company-wrapper {
        border-bottom: 1px solid rgba($secondary-color, 0.5);
        margin-bottom: 2em;
        display: inline-block;

        ul {
          list-style: none;
          padding-left: 0;

          li {
            display: flex;
            align-items: baseline;
          }

          li:before {
            content: '> ';
            font-weight: bold;
            font-family: 'Inconsolata', Courier, monospace;
            margin-right: 8px;
          }
        }

        .timeline {
          text-transform: uppercase;
          color: rgba($primary-color, 0.7);
          font-size: .9em;
          font-family: 'Courier New', Courier, monospace;
        }

        .company-info {
          margin: 10px auto;
          font-size: 26px;

          .company-name {
            font-style: italic;
            font-weight: bold;
            color: rgba($primary-color, 0.9);
          }
          
          .job-title {
            font-weight: bold;
            margin-right: 1em;
          }
        }

        .company-desc {
          color: rgba($primary-color, 0.7);
          font-size: 18px;
        }

        .full-desc {
          margin-top: 1em;
        }

        .tech-stack {
          margin: 0.5em 0;

          .stack {
            font-size: 1.1em;
            font-weight: bold;
          }
        }
      }
    }
  }
}