#footer {
  a { 
    text-decoration: none;
    color: $primary-color;
    font-weight: 600;
    font-style: italic;
    // background: -webkit-gradient(linear,left bottom,left top,color-stop(35%,rgba(32, 89, 197, 0.2)),color-stop(35%,transparent));
    // background: linear-gradient(to top,rgba(32, 89, 197, 0.2) 35%,transparent 35%);
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;

    &:hover {
      background-size: 100% 88%;
    }
  }

}

// DESKTOP
@media screen and (min-width: $navbar-breakpoint) {
  #footer {
    display: flex;
    margin: 1em 2em;
    text-align: center;
    justify-content: space-between;

    ul.links {
      list-style: none;
      padding: 0;
      margin: 0;

      li a {
        margin-left: 16px;
      }
    }
  }
}

// MOBILE
@media screen and (max-width: $navbar-breakpoint) {
  #footer {
    padding: 1em;
    display: grid;

    span.copyright {
      margin-bottom: 0.5em;
    }

    ul.links {
      list-style: none;
      padding: 0;
      margin: 0;

      li a {
        margin-right: 16px;
      }
    }
  }
}