@import url('https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display:400,700,700i|Radley:400,400i');
$navbar-breakpoint: 645px;
$primary-color: #444c5c;
$secondary-color: #acbebe;

@import 'navbar';

.scroll-top {
  position: fixed;
  bottom: 24px;
  right: 16px;
  z-index: 999;
  font-size: 24px;

  a {
    text-decoration: none;
    color: rgba($primary-color, .5);

    &:hover {
      color: rgba($primary-color, .5);
    }
  }
}

::selection {
  background: #fef9d8;
}

body {
  background: #f9f9ff !important;
}

section {
  margin-bottom: 2em;
}


@import 'content';
@import 'footer';