@import url("https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display:400,700,700i|Radley:400,400i");
body.day-mode .navbar-container {
  color: #444c5c; }
  body.day-mode .navbar-container a, body.day-mode .navbar-container a:active, body.day-mode .navbar-container a:focus {
    color: #444c5c;
    text-decoration: none; }
    body.day-mode .navbar-container a:visited, body.day-mode .navbar-container a:active:visited, body.day-mode .navbar-container a:focus:visited {
      color: #444c5c; }

body.night-mode .navbar-container {
  color: #EFF1F3; }
  body.night-mode .navbar-container a, body.night-mode .navbar-container a:active, body.night-mode .navbar-container a:focus {
    color: #EFF1F3;
    text-decoration: none; }
    body.night-mode .navbar-container a:visited, body.night-mode .navbar-container a:active:visited, body.night-mode .navbar-container a:focus:visited {
      color: #EFF1F3; }

.navbar-container {
  font-family: 'Playfair Display', serif;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .navbar-container .wrapper {
    height: 45px;
    width: 100%;
    justify-content: space-between;
    display: flex; }
  .navbar-container nav {
    padding: 2em 0;
    display: flex;
    justify-content: space-between; }
    .navbar-container nav .name {
      cursor: default;
      font-size: 1.6em;
      margin: auto 0;
      font-weight: bold; }

@media screen and (min-width: 645px) {
  body.day-mode .navbar-container .menu li.nav-item a:hover {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); }
  body.night-mode .navbar-container .menu li.nav-item a:hover {
    background-image: linear-gradient(120deg, #bc4e9c 0%, #f80759 100%); }
  .navbar-container {
    padding-left: 2em;
    padding-right: 2em; }
  .menu {
    margin: auto 0;
    padding: 0;
    display: inline-table; }
    .menu li.nav-item {
      float: left;
      margin-left: 2em;
      list-style: none;
      font-size: 1.1em; }
      .menu li.nav-item a {
        background-size: 0% 0.3em;
        transition: background-size 0.25s ease-in; }
        .menu li.nav-item a:hover {
          text-decoration: none;
          background-repeat: no-repeat;
          background-size: 100% 0.3em;
          background-position: 0 88%; }
  .mobile-hamburger {
    display: none; }
  .dropdown-menu {
    display: none; } }

@media screen and (max-width: 645px) {
  body.day-mode .toggle-icon {
    border-bottom: 4px solid #444c5c; }
    body.day-mode .toggle-icon:before, body.day-mode .toggle-icon:after {
      border-top: 4px solid #444c5c; }
  body.night-mode .toggle-icon {
    border-bottom: 4px solid #EFF1F3; }
    body.night-mode .toggle-icon:before, body.night-mode .toggle-icon:after {
      border-top: 4px solid #EFF1F3; }
  .navbar-container {
    padding-left: 1em;
    padding-right: 1em; }
  .menu {
    display: none; }
  .dropdown-menu .mobile-menu {
    padding: 0;
    margin: 0; }
    .dropdown-menu .mobile-menu li.mobile-nav-item {
      list-style: none;
      font-size: 1.1em;
      padding: 1em 0; }
      .dropdown-menu .mobile-menu li.mobile-nav-item a:focus {
        background-size: 100% 88%; }
  .mobile-hamburger {
    margin: auto 0; }
    .mobile-hamburger .nav-toggle {
      width: 30px;
      height: 40px;
      display: block;
      position: relative;
      cursor: pointer;
      display: inline-block; }
      .mobile-hamburger .nav-toggle .toggle-icon {
        transition-delay: 0.125s;
        transition-property: transform, border-color;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
        padding-top: 22px;
        display: block; }
        .mobile-hamburger .nav-toggle .toggle-icon:before, .mobile-hamburger .nav-toggle .toggle-icon:after {
          transition-delay: 0s;
          transform-origin: center;
          content: '';
          position: absolute;
          left: 0;
          right: 0; }
        .mobile-hamburger .nav-toggle .toggle-icon:before {
          top: 12px; }
        .mobile-hamburger .nav-toggle .toggle-icon:after {
          bottom: 4px; }
      .mobile-hamburger .nav-toggle .toggle-label {
        text-align: center;
        display: block;
        position: relative;
        left: -50px;
        bottom: 14px; } }

.toggle-icon,
.toggle-icon:before,
.toggle-icon:after {
  transition-property: transform, border-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5); }

.toggle-icon {
  transition-delay: 0.125s; }

.toggle-icon:before,
.toggle-icon:after {
  transition-delay: 0s;
  transform-origin: center; }

.burger-target.clicked + .nav-toggle .toggle-icon {
  transition-delay: 0s; }

.burger-target.clicked + .nav-toggle .toggle-icon:before,
.burger-target.clicked + .nav-toggle .toggle-icon:after {
  transition-delay: 0.125s; }

.burger-target.clicked + .nav-toggle .toggle-icon:before {
  transform: translateY(10px) rotate(135deg); }

.burger-target.clicked + .nav-toggle .toggle-icon {
  border-color: transparent; }

.burger-target.clicked + .nav-toggle .toggle-icon:after {
  transform: translateY(-10px) rotate(-135deg); }

/* Created By Joseph Shenton @TeamiHackify */
.button-con {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 3em; }

#dayIcon {
  position: relative;
  width: 26px;
  height: 26px;
  top: -3px;
  margin: 0 7px; }

#nightIcon {
  position: relative;
  width: 26px;
  height: 26px;
  top: -3px;
  margin: 0 7px; }

#dayIcon, #nightIcon {
  cursor: pointer; }

.toggle {
  display: none; }

.toggle, .toggle:after, .toggle:before, .toggle *, .toggle *:after, .toggle *:before, .toggle + .toggle-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.toggle::-moz-selection, .toggle:after::-moz-selection, .toggle:before::-moz-selection, .toggle *::-moz-selection, .toggle *:after::-moz-selection, .toggle *:before::-moz-selection, .toggle + .toggle-button::-moz-selection {
  background: none; }

.toggle::selection, .toggle:after::selection, .toggle:before::selection, .toggle *::selection, .toggle *:after::selection, .toggle *:before::selection, .toggle + .toggle-button::selection {
  background: none; }

.toggle + .toggle-button {
  outline: 0;
  display: inline-block;
  width: 64px;
  height: 32px;
  position: relative;
  cursor: pointer;
  border: 2px solid #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.toggle + .toggle-button:after, .toggle + .toggle-button:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%; }

.toggle + .toggle-button:after {
  left: 0; }

.toggle + .toggle-button:before {
  display: none; }

.toggle:checked + .toggle-button:after {
  left: 50%; }

.toggle + .toggle-button {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 2em; }

body.day-mode #dayIcon {
  fill: #444c5c; }

body.day-mode #nightIcon {
  fill: #444c5c; }

body.day-mode .toggle + .toggle-button {
  border: 2px solid #444c5c; }

body.day-mode .toggle + .toggle-button:after {
  background: #444c5c; }

body.night-mode #dayIcon {
  fill: #EFF1F3; }

body.night-mode #nightIcon {
  fill: #EFF1F3; }

body.night-mode .toggle + .toggle-button {
  border: 2px solid #eff1f3; }

body.night-mode .toggle + .toggle-button:after {
  background: #eff1f3; }

.toggle + .toggle-button:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  content: "";
  border-radius: 1em; }

.toggle:checked + .toggle-button:after {
  left: 50%; }

body.day-mode {
  background: #f9f9ff !important; }
  body.day-mode #go-to-header {
    background: rgba(249, 249, 255, 0.5); }
    body.day-mode #go-to-header svg {
      fill: #444c5c; }
      @media screen and (min-width: 645px) {
        body.day-mode #go-to-header svg:hover polygon, body.day-mode #go-to-header svg:hover path {
          fill: #84fab0; } }

body.night-mode {
  background: #2A324B !important; }
  body.night-mode #go-to-header {
    background: rgba(42, 50, 75, 0.5); }
    body.night-mode #go-to-header svg {
      fill: #EFF1F3; }
      @media screen and (min-width: 645px) {
        body.night-mode #go-to-header svg:hover polygon, body.night-mode #go-to-header svg:hover path {
          fill: #bc4e9c; } }

#go-to-header {
  position: fixed;
  bottom: 16px;
  right: 0;
  z-index: 999; }
  #go-to-header svg {
    transform: rotate(90deg);
    width: 25px;
    height: auto;
    cursor: pointer;
    overflow: visible;
    padding: 1em; }
    #go-to-header svg polygon, #go-to-header svg path {
      transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1); }
    @media screen and (min-width: 645px) {
      #go-to-header svg:hover polygon, #go-to-header svg:hover path {
        transition: all 1s cubic-bezier(0.2, 1, 0.3, 1); }
      #go-to-header svg:hover .arrow {
        animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite; }
      #go-to-header svg:hover .arrow-fixed {
        animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite; } }

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0); }
  5% {
    transform: translateX(-0.1rem); }
  100% {
    transform: translateX(1rem);
    opacity: 0; } }

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0; }
  20% {
    opacity: 0.4; }
  100% {
    opacity: 1; }
  a {
    text-decoration: none;
    color: #444c5c;
    :hover {
      color: rgba(68, 76, 92, 0.5); } } }

::selection {
  background: #fef9d8; }

section {
  margin-bottom: 2em; }

body {
  transition: 0.5s all cubic-bezier(0.65, 0.05, 0.36, 1); }

body.day-mode .container {
  color: #444c5c; }
  body.day-mode .container a {
    color: #444c5c;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); }
  body.day-mode .container .divider {
    background: rgba(68, 76, 92, 0.5); }

body.night-mode .container {
  color: #EFF1F3; }
  body.night-mode .container a {
    color: #EFF1F3;
    background-image: linear-gradient(120deg, #bc4e9c 0%, #f80759 100%); }
  body.night-mode .container .divider {
    background: rgba(239, 241, 243, 0.5); }

.container {
  top: -60px;
  position: relative;
  font-family: 'Radley', serif !important;
  font-size: 18px !important;
  max-width: 750px;
  margin: 0 auto; }
  .container p {
    line-height: 1.5em; }
  .container a {
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in; }
    .container a:hover {
      background-size: 100% 88%; }
  .container .section-header .section-title {
    font-size: 34px;
    font-weight: bold; }
  .container .section-subheader .subheader-title {
    font-size: 26px;
    font-weight: bold; }
  .container .section-content {
    margin: 1em 0; }
    .container .section-content .contact-blurb {
      font-size: 24px; }

@media screen and (min-width: 645px) {
  .container {
    padding: 0 2em; } }

@media screen and (max-width: 645px) {
  .container {
    padding: 0 1em; } }

.divider {
  height: 1px;
  margin-bottom: 2em; }

@media screen and (max-width: 645px) {
  section.intro {
    margin-top: 2em;
    padding-bottom: 4em; }
    section.intro .intro-header {
      margin-top: 1em; } }

@media screen and (min-width: 645px) {
  section.intro {
    margin-top: 4em;
    padding-bottom: 4em; }
    section.intro .intro-header {
      margin-top: 4em; } }

section.intro .intro-header {
  font-size: 38px;
  line-height: 40px; }

section.intro .intro-tagline {
  font-size: 26px;
  margin: 1em 0; }

section.intro .current-status {
  font-size: 22px;
  margin: 1em 0; }

section.intro .social-media-container {
  margin: 1em 0;
  font-size: 1.2em;
  float: right; }
  section.intro .social-media-container a {
    margin-right: .5em; }

@media screen and (max-width: 645px) {
  .experience .company-info {
    display: grid; } }

body.day-mode .experience .section-content ul.company-list .company-wrapper {
  border-bottom: 1px solid rgba(172, 190, 190, 0.5); }
  body.day-mode .experience .section-content ul.company-list .company-wrapper .timeline {
    color: rgba(68, 76, 92, 0.7); }
  body.day-mode .experience .section-content ul.company-list .company-wrapper .company-info .company-name {
    color: rgba(68, 76, 92, 0.9); }
  body.day-mode .experience .section-content ul.company-list .company-wrapper .company-desc {
    color: rgba(68, 76, 92, 0.7); }

body.night-mode .experience .section-content ul.company-list .company-wrapper {
  border-bottom: 1px solid rgba(172, 190, 190, 0.5); }
  body.night-mode .experience .section-content ul.company-list .company-wrapper .timeline {
    color: rgba(239, 241, 243, 0.7); }
  body.night-mode .experience .section-content ul.company-list .company-wrapper .company-info .company-name {
    color: rgba(239, 241, 243, 0.9); }
  body.night-mode .experience .section-content ul.company-list .company-wrapper .company-desc {
    color: rgba(239, 241, 243, 0.7); }

.experience .section-content .resume-section {
  margin-bottom: 3em; }
  .experience .section-content .resume-section .resume-header {
    font-size: 24px;
    font-weight: bold; }

.experience .section-content ul.company-list {
  list-style: none;
  padding: 0;
  margin-bottom: 1em; }
  .experience .section-content ul.company-list .company-wrapper {
    margin-bottom: 2em;
    display: inline-block; }
    .experience .section-content ul.company-list .company-wrapper ul {
      list-style: none;
      padding-left: 0; }
      .experience .section-content ul.company-list .company-wrapper ul li {
        display: flex;
        align-items: baseline; }
      .experience .section-content ul.company-list .company-wrapper ul li:before {
        content: '> ';
        font-weight: bold;
        font-family: 'Inconsolata', Courier, monospace;
        margin-right: 8px; }
    .experience .section-content ul.company-list .company-wrapper .timeline {
      text-transform: uppercase;
      font-size: .9em;
      font-family: 'Courier New', Courier, monospace; }
    .experience .section-content ul.company-list .company-wrapper .company-info {
      margin: 10px auto;
      font-size: 26px; }
      .experience .section-content ul.company-list .company-wrapper .company-info .company-name {
        font-style: italic;
        font-weight: bold;
        letter-spacing: -0.5px; }
        .experience .section-content ul.company-list .company-wrapper .company-info .company-name:before {
          content: "@ ";
          font-style: normal; }
      .experience .section-content ul.company-list .company-wrapper .company-info .job-title {
        font-weight: bold;
        margin-right: 1em; }
    .experience .section-content ul.company-list .company-wrapper .company-desc {
      font-size: 18px; }
    .experience .section-content ul.company-list .company-wrapper .full-desc {
      margin-top: 1em; }
    .experience .section-content ul.company-list .company-wrapper .tech-stack {
      margin: 0.5em 0; }
      .experience .section-content ul.company-list .company-wrapper .tech-stack .stack {
        font-size: 1.1em;
        font-weight: bold; }

@media screen and (max-width: 645px) {
  section.projects .section-content ul.project-list .project-wrapper .project-desc {
    display: grid; } }

body.day-mode section.projects .section-content ul.project-list .project-wrapper {
  border-bottom: 1px solid rgba(172, 190, 190, 0.5); }
  body.day-mode section.projects .section-content ul.project-list .project-wrapper .image .overlay-content a {
    color: #f9f9ff;
    border: 1px solid #acbebe; }
    body.day-mode section.projects .section-content ul.project-list .project-wrapper .image .overlay-content a:hover {
      border: 1px solid #84fab0;
      color: #84fab0; }
  body.day-mode section.projects .section-content ul.project-list .project-wrapper .project-desc .project-subtext {
    color: rgba(68, 76, 92, 0.7); }

body.day-mode .tools i .text {
  color: #444c5c; }

body.night-mode section.projects .section-content ul.project-list .project-wrapper {
  border-bottom: 1px solid rgba(172, 190, 190, 0.5); }
  body.night-mode section.projects .section-content ul.project-list .project-wrapper .image .overlay-content a {
    color: #f9f9ff;
    border: 1px solid #acbebe; }
    body.night-mode section.projects .section-content ul.project-list .project-wrapper .image .overlay-content a:hover {
      border: 1px solid #bc4e9c;
      color: #bc4e9c; }
  body.night-mode section.projects .section-content ul.project-list .project-wrapper .project-desc .project-subtext {
    color: rgba(239, 241, 243, 0.7); }

body.night-mode .tools i .text {
  color: #EFF1F3; }

section.projects .section-content ul.project-list {
  list-style: none;
  padding: 0;
  margin-bottom: 3em; }
  section.projects .section-content ul.project-list .project-wrapper {
    padding: 2em 0 1em 0;
    display: inline-block; }
    section.projects .section-content ul.project-list .project-wrapper .image {
      position: relative;
      margin-bottom: 2em;
      max-height: 260px;
      max-width: 900px;
      overflow: hidden; }
      @media screen and (max-width: 645px) {
        section.projects .section-content ul.project-list .project-wrapper .image:hover .overlay-content,
        section.projects .section-content ul.project-list .project-wrapper .image:focus .overlay-content {
          top: 50%;
          left: 50%;
          display: grid;
          visibility: visible; }
        section.projects .section-content ul.project-list .project-wrapper .image:hover .overlay,
        section.projects .section-content ul.project-list .project-wrapper .image:focus .overlay {
          opacity: 1;
          backdrop-filter: blur(7px); } }
      @media screen and (min-width: 645px) {
        section.projects .section-content ul.project-list .project-wrapper .image:hover .overlay-content,
        section.projects .section-content ul.project-list .project-wrapper .image:focus .overlay-content {
          top: 50%;
          left: 50%;
          visibility: visible;
          opacity: 1; }
        section.projects .section-content ul.project-list .project-wrapper .image:hover .overlay,
        section.projects .section-content ul.project-list .project-wrapper .image:focus .overlay {
          opacity: 1;
          backdrop-filter: blur(7px); } }
      section.projects .section-content ul.project-list .project-wrapper .image .overlay {
        background: rgba(40, 40, 43, 0.8);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s; }
      @media screen and (max-width: 645px) {
        section.projects .section-content ul.project-list .project-wrapper .image .overlay-content {
          display: none;
          visibility: hidden; } }
      @media screen and (min-width: 645px) {
        section.projects .section-content ul.project-list .project-wrapper .image .overlay-content {
          visibility: hidden;
          opacity: 0; } }
      section.projects .section-content ul.project-list .project-wrapper .image .overlay-content {
        width: 100%;
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        top: 80%; }
        section.projects .section-content ul.project-list .project-wrapper .image .overlay-content span {
          margin: 6px 0; }
        section.projects .section-content ul.project-list .project-wrapper .image .overlay-content a {
          padding: 8px 24px;
          margin: 0 8px;
          background: transparent;
          font-weight: 300;
          font-style: normal; }
          section.projects .section-content ul.project-list .project-wrapper .image .overlay-content a:hover {
            text-decoration: none; }
        section.projects .section-content ul.project-list .project-wrapper .image .overlay-content .github-btn:hover .arrow, section.projects .section-content ul.project-list .project-wrapper .image .overlay-content .doc-btn:hover .arrow {
          -webkit-transform: translateX(4px);
          transform: translateX(4px); }
        section.projects .section-content ul.project-list .project-wrapper .image .overlay-content .github-btn .arrow, section.projects .section-content ul.project-list .project-wrapper .image .overlay-content .doc-btn .arrow {
          padding-left: 5px;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          display: inline-block;
          font-style: normal; }
      section.projects .section-content ul.project-list .project-wrapper .image img {
        width: 100%;
        height: 100%; }
    section.projects .section-content ul.project-list .project-wrapper .project-desc .project-title {
      font-size: 26px;
      margin: 10px 1em 10px 0;
      font-style: normal;
      font-weight: bold; }
      section.projects .section-content ul.project-list .project-wrapper .project-desc .project-title a {
        font-style: normal; }
    section.projects .section-content ul.project-list .project-wrapper .project-desc .project-subtext {
      font-size: 18px; }
    section.projects .section-content ul.project-list .project-wrapper .full-desc {
      margin-top: .5em; }
    section.projects .section-content ul.project-list .project-wrapper .tools i {
      margin-left: 8px;
      margin-right: 0;
      width: auto;
      float: right; }

.tools {
  margin-top: 1em;
  width: 100%; }
  .tools i {
    font-size: 3em;
    margin-right: 8px;
    display: inline-grid;
    text-align: center;
    min-width: 10%; }
    .tools i:hover .text {
      transition-duration: 0.2s;
      opacity: 1; }
    .tools i .text {
      font-size: 14px;
      opacity: 0;
      padding-top: 0.5em;
      font-family: 'Inconsolata', monospace; }

body.day-mode #footer {
  color: #444c5c; }
  body.day-mode #footer a {
    color: #444c5c;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); }

body.night-mode #footer {
  color: #EFF1F3; }
  body.night-mode #footer a {
    color: #EFF1F3;
    background-image: linear-gradient(120deg, #bc4e9c 0%, #f80759 100%); }

#footer a {
  text-decoration: none;
  font-weight: 600;
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }
  #footer a:hover {
    background-size: 100% 88%; }

@media screen and (min-width: 645px) {
  #footer {
    display: flex;
    margin: 1em 2em;
    text-align: center;
    justify-content: space-between; }
    #footer ul.links {
      list-style: none;
      padding: 0;
      margin: 0; }
      #footer ul.links li a {
        margin-left: 16px; } }

@media screen and (max-width: 645px) {
  #footer {
    padding: 1em;
    display: grid; }
    #footer span.copyright {
      margin-bottom: 0.5em; }
    #footer ul.links {
      list-style: none;
      padding: 0;
      margin: 0; }
      #footer ul.links li a {
        margin-right: 16px; } }
